@import "../../var.scss";

#darkMode .calculator {
    .calculator {
    }
}

.calculator {
    min-width: 240px;
    width: 13vw;
    border: 1px solid #ccc;
    border-radius: 5%;
    padding: 0.5vw;

    &__display {
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 20px;
        text-align: right;
    }

    &__buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
    }

    &__button {
        padding: 10px;
        font-size: 16px;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            background-color: #ddd;
        }
    }

    &__widerBtn {
        grid-column: span 2;
    }
    &_heigherBtn {
        grid-column: span 2;
        grid-row: span 2;
    }

    &__button--clear {
        grid-column: span 2;
        background-color: #ff5f5f;
        color: #fff;

        &:hover {
            background-color: #ff3f3f;
        }
    }
}
