@import "./var.scss";

html #darkMode {
    height: 100vh;
    background: $darkMd-bg-color;
}

a {
    text-decoration: none;
}

//深色模式 文字顏色
#darkMode {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    label,
    a,
    span,
    .dropdown-toggle {
        color: $darkMd-white;
    }
    .content {
        color: $darkMd-darkGray;
    }
}

//icon基本設定
.material-icons {
    border-radius: 50%;
    padding: 0.5vw;

    &:hover {
        cursor: pointer;
    }
}

//#region 深淺色模式 轉換按鈕
@keyframes rotateSun {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
@keyframes rotateMoon {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#themeController .rotateSun {
    animation: rotateSun 1s linear;
}

#themeController .rotateMoon {
    animation: rotateMoon 1s linear;
}

//#endregion 深淺色模式 轉換按鈕

//#region Navbar
#mainNav {
    padding: 2vh 2vw;
    background-color: $darkMd-darkGray;
}

#darkMode #mainNav hr {
    color: $darkMd-white;
    margin: 0.5vh 0;
}

#darkMode #mainNav {
    background: $darkMd-nav-bg;
}
#darkMode #mainNav .dropdown-menu {
    background: $darkMd-nav-bg;
    border: 1px solid $darkMd-darkGray;
    .dropdown-item {
        &:hover {
            background: $blue;
        }
    }
}
//#endregion Navbar
