$blue: #1f6feb;
$txt-bluePurple: #6e40c9;
$text-green: #7ee787;
$txt-orange: #ffa28b;
$txt-purple: #939aff;

//深色模式
$darkMd-bg-color: #0d1117;
$darkMd-darkGray: #7d8590;
$darkMd-white: #fff;
$darkMd-nav-bg: #161b22;

//淺色模式

//便利貼
$stickyNote-yellow: #e6b904;
$stickyNote-green: #65ba5a;
$stickyNote-pink: #ea86c2;
$stickyNote-blue: #59c0e7;
$stickyNote-gray: #989898;
